/*
 * Copyright (c) 2022 Alexandru Gherghescu (alexghergh@gmail.com)
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
//
// Default layer (layer 0): letters + modifiers
//
//  /-----------------------------------------------\                                          /-----------------------------------------------\
//  |  ESC  |   '   |   ,   |   .   |   P   |   Y   |                                          |   F   |   G   |   C   |   R   |   L   |  TAB  |
//  |-------+-------+-------+-------+-------+-------|                                          |-------+-------+-------+-------+-------+-------|
//  | SHIFT |   A   |   O   |   E   |   U   |   I   |                                          |   D   |   H   |   T   |   N   |   S   | CTRL  |
//  |-------+-------+-------+-------+-------+-------+---------------\          /---------------+-------+-------+-------+-------+-------+-------|
//  | SUPER |   ;   |   Q   |   J   |   K   |   X   |  ESC  |  END  |          | SUPER |   \   |   B   |   M   |   W   |   V   |   Z   | SUPER |
//  \-----------------------+-------+-------+-------+-------+-------|          |-------+-------+-------+-------+-------+-----------------------/
//                          | RGB_TG|  ALT  | LAYER1| SPACE | CTRL  |          | SHIFT | ENTER | none  | none  | LAYER2|
//                          \---------------------------------------/          \---------------------------------------/

            bindings = <
&kp ESC    &kp APOS &kp COMMA &kp DOT &kp P    &kp Y                                                 &kp F &kp G &kp C     &kp R &kp L &kp TAB
&kp LSHIFT &kp A    &kp O     &kp E   &kp U    &kp I                                                 &kp D &kp H &kp T     &kp N &kp S &kp LCTRL
&kp LWIN   &kp SEMI &kp Q     &kp J   &kp K    &kp X     &kp ESC   &kp END      &kp LWIN   &kp BSLH  &kp B &kp M &kp W     &kp V &kp Z &kp LWIN
                      &rgb_ug RGB_TOG &kp LALT &mo LOWER &kp SPACE &kp LCTRL    &kp LSHIFT &kp ENTER &none &none &mo RAISE
            >;

            sensor-bindings = <&inc_dec_kp LA(TAB) LA(LS(TAB))>;
        };

        lower_layer {
//
// Lower layer (layer 1): numbers + tab + backspace + f-keys + symbols + external power toggle
//
//  EPTOG  = Toggle external power
//
//  /-----------------------------------------------\                                      /-----------------------------------------------\
//  |  trs  |   1   |   2   |   3   |   4   |   5   |                                      |   6   |   7   |   8   |   9   |   0   | EPTOG |
//  |-------+-------+-------+-------+-------+-------|                                      |-------+-------+-------+-------+-------+-------|
//  |  trs  |   `   |  trs  |   -   |   =   |  TAB  |                                      | BKSPC |   /   |   \   |   [   |   ]   |  trs  |
//  |-------+-------+-------+-------+-------+-------+---------------\      /---------------+-------+-------+-------+-------+-------+-------|
//  |  F1   |  F2   |  F3   |  F4   |  F5   |  F6   |  trs  |  trs  |      |  trs  |  trs  |  F7   |  F8   |  F9   |  F10  |  F11  |  F12  |
//  \-----------------------+-------+-------+-------+-------+-------|      |-------+-------+-------+-------+-------+-----------------------/
//                          |  trs  |  trs  |  trs  |  trs  |  trs  |      |  trs  |  trs  |  trs  |  trs  |  trs  |
//                          \---------------------------------------/      \---------------------------------------/

            bindings = <
    &trans  &kp N1    &kp N2 &kp N3    &kp N4    &kp N5                                  &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &ext_power EP_TOG
    &trans  &kp GRAVE &trans &kp MINUS &kp EQUAL &kp TAB                                 &kp BSPC &kp FSLH &kp BSLH &kp LBKT &kp RBKT &trans
    &kp F1  &kp F2    &kp F3 &kp F4    &kp F5    &kp F6 &trans &trans      &trans &trans &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
                             &trans    &trans    &trans &trans &trans      &trans &trans &trans   &trans   &trans
            >;
        };

        raise_layer {
//
// Raise layer (layer 2): arrow keys + home/end + insert/delete + page up/page down + print screen + pause/break + output selection / bluetooth profiles + rgb effect cycle
//
//  BTCLR  = Blueetooth clear current profile
//  BTPRV  = Blueetooth previous profile
//  BTNXT  = Blueetooth next profile
//  OUTTOG = Toggle output selection (Bluetooth / USB)
//  RGBEFF = RGB effect cycle
//
//  /-----------------------------------------------\                                                   /-----------------------------------------------\
//  |  trs  | PSCRN |  UP   | PG_UP | PG_DN | PAUSE |                                                   | OUTTOG|  trs  |  trs  |  trs  | RIGHT |  trs  |
//  |-------+-------+-------+-------+-------+-------|                                                   |-------+-------+-------+-------+-------+-------|
//  |  trs  |  LEFT |  DOWN | RIGHT | RIGHT |  trs  |                                                   |  trs  |  LEFT |  HOME |  END  |  INS  |  trs  |
//  |-------+-------+-------+-------+-------+-------+---------------\                   /---------------+-------+-------+-------+-------+-------+-------|
//  | BTCLR |  trs  |  trs  |  DOWN |   UP  |  trs  | BTPRV | BTNXT |                   |  trs  |  trs  |  trs  |  trs  |  DEL  |  trs  |  trs  |  trs  |
//  \-----------------------+-------+-------+-------+-------+-------|                   |-------+-------+-------+-------+-------+-----------------------/
//                          | RGBEFF|  trs  |  trs  |  trs  |  trs  |                   |  trs  |  trs  |  trs  |  trs  |  trs  |
//                          \---------------------------------------/                   \---------------------------------------/

            bindings = <
&trans     &kp PSCRN &kp UP   &kp PG_UP       &kp PG_DN  &kp PAUSE_BREAK                                  &out OUT_TOG &trans   &trans   &trans  &kp RIGHT &trans
&trans     &kp LEFT  &kp DOWN &kp RIGHT       &kp RIGHT  &trans                                           &trans       &kp LEFT &kp HOME &kp END &kp INS   &trans
&bt BT_CLR &trans    &trans   &kp DOWN        &kp UP     &trans    &bt BT_PRV &bt BT_NXT    &trans &trans &trans       &trans   &kp DEL  &trans  &trans    &trans
                              &rgb_ug RGB_EFF &trans     &trans    &trans     &trans        &trans &trans &trans       &trans   &trans
            >;
        };

        adjust_layer {
//
// Adjust layer (layer 3): ¯\_(ツ)_/¯
//
//  MNEXT = Media next
//  MPREV = Media previous
//  PLYPS = Play / Pause
//  BRIUP = Brightness up
//  BRIDN = Brightness down
//  REW   = Rewind
//  FF    = Fast-forward
//  SCRSV = Screensaver / Lock
//
//  /-----------------------------------------------\                                         /-----------------------------------------------\
//  |  trs  |  REW  | MPREV | MNEXT | PLYPS | SCRL  |                                         |  trs  | SCRSV | LOCK  |  trs  |  trs  |  trs  |
//  |-------+-------+-------+-------+-------+-------|                                         |-------+-------+-------+-------+-------+-------|
//  |  trs  |  FF   | VOLDN | VOLUP | MUTE  | CAPS  |                                         |  trs  |  trs  |  trs  |  trs  |  trs  |  trs  |
//  |-------+-------+-------+-------+-------+-------+---------------\         /---------------+-------+-------+-------+-------+-------+-------|
//  |  trs  |  trs  | BRIDN | BRIUP |  trs  |  trs  |  trs  |  trs  |         |  trs  |  trs  |  trs  | POWER | RESET | SLEEP | LOGOFF|  trs  |
//  \-----------------------+-------+-------+-------+-------+-------|         |-------+-------+-------+-------+-------+-----------------------/
//                          |  trs  |  trs  |  trs  |  trs  |  trs  |         |  trs  |  trs  |  trs  |  trs  |  trs  |
//                          \---------------------------------------/         \---------------------------------------/

            bindings = <
&trans &kp C_RW &kp C_PREV   &kp C_NEXT   &kp C_PP   &kp SLCK                               &trans &kp C_AL_LOCK &kp K_LOCK  &trans      &trans          &trans
&trans &kp C_FF &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &kp CAPS                               &trans &trans        &trans      &trans      &trans          &trans
&trans &trans   &kp C_BRI_DN &kp C_BRI_UP &trans     &trans   &trans &trans   &trans &trans &trans &kp C_POWER   &kp C_RESET &kp C_SLEEP &kp C_AL_LOGOFF &trans
                             &trans       &trans     &trans   &trans &trans   &trans &trans &trans &trans        &trans
            >;
        };
    };
};
